h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  color: #8400ee;
}

h3 {
  font-size: 25px;
  color: #ee420d;
}

ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

ol {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.perfilPersonal {
  background-color: #f0f0f0; /* Color de fondo suave */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin: 20px 0; /* Margen superior e inferior */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.imagenPerfil {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Opcional: si deseas bordes redondeados */
}

i {
  color: black;
}
